.App {
  text-align: center;
  color:white;
  background-color:#223763
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.theList{
  margin: 10px;
}

.item1
{
  flex-grow: 1;
  font-size: 30px;
}
.item2
{
  min-width: 100px;
  flex-grow: 5;
}
.item3
{
  flex-grow: 1;
}

.row1
{
  display: flex;
  flex-direction: col;
}

.row2
{
  background-color: #34a65F;
  min-height: 2px;
}

.name-div
{
    /*background-color: greenyellow; */
    flex-grow: 2;
    min-width: 400px;
    min-height: 50px;


    padding-bottom: 5px;
}

.name-padding-div
{
    /*background-color: red;*/
    flex-grow: 2;
}
.parent-name-box
{
    /*background-color: pink;*/
    display: flex;
    flex-direction: row;
}